html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;

}

a {
  color: aquamarine;
  font-size: 16px;
}

#phone {
  width: 450px;
}

#bottom p {
  color: gray;
  font-size: 21px;
}

#bottom h2 {
  color: gray;
  text-align: right;
  font-weight: normal;
  font-family: Verdana;
}
